
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
       <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->
  
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
  
            <!-- Main Content -->
            <div id="content">
  
                <!-- Topbar -->
                <app-topbar></app-topbar>
                <!-- End of Topbar -->
  
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div> -->
                    <router-outlet></router-outlet>
  
                </div>
                <!-- /.container-fluid -->
  
            </div>
            <!-- End of Main Content -->
  
            <!-- Footer -->
           <app-footer></app-footer>
            <!-- End of Footer -->
  
        </div>
        <!-- End of Content Wrapper -->
  
    </div>