<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Transaction Description</th>
        <th scope="col">Category</th>
        <th scope="col">Payment Mode</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transction of transctions">
        <th scope="col">#</th>
        <th scope="col">{{ transction.customerId }}</th>
        <th scope="col">{{ transction.transactionDescription }}</th>
        <th scope="col">{{ transction.category }}</th>
        <th scope="col">{{ transction.payment.mode }}</th>
        <th scope="col">{{ transction.payment.amount }}</th>
        <th scope="col">{{ transction.dateTime | date:'medium' }}</th>
      </tr>
    </tbody>
  </table>

