<div class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <div class="text-center">
                                        Demo Login : 
                                        <h5 class="h5 text-gray-900 mb-4">
                                             Username : madhesh@gmail.com <br>
                                            Password : test
                                        </h5>
                                    </div>
                     
                                    <div class="has-error"  *ngIf="errorMsg"> {{ errorMsg }}</div>
                                    <form class="user" [formGroup]="loginForm" (ngSubmit)="doLogin()">
                                        <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                                            <input type="email" class="form-control form-control-user" formControlName="email"
                                                id="exampleInputEmail" aria-describedby="emailHelp" name="email"
                                                placeholder="Enter Email Address...">
                                                <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                                                    <div *ngIf="formControls.email.errors.required">Email is required</div>
                                                    <div *ngIf="formControls.email.errors.email">Enter valid email</div>
                                                  </div>
                                        </div>
                                        <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                                            <input type="password" class="form-control form-control-user" formControlName="password"
                                                id="exampleInputPassword" placeholder="Password" >
                                                <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                                                    <div *ngIf="formControls.password.errors.required">Password is required</div>
                                                  </div>
                                        </div>
                                        <input type="submit" (click)="doLogin()"class="btn btn-primary btn-user btn-block" value="Login"/>
                                        <hr>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small"  routerLink="/login/register">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>