<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Payment</h6>
    </div>
    <div class="card-body">
        <div class="has-error error"  *ngIf="errorMsg"> {{ errorMsg  }}</div>
        <form class="user" [formGroup]="addPaymentForm" (ngSubmit)="addPayment()">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control" id="firstName"
                        placeholder="First Name" formControlName="firstName" >
                        <div *ngIf="isSubmitted && formControls.firstName.errors" class="help-block error">
                            <div *ngIf="formControls.firstName.required">First name is required</div>
                          </div>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="LastName"
                        placeholder="Last Name"  formControlName="LastName" >
                        <div *ngIf="isSubmitted && formControls.LastName.errors" class="help-block error">
                            <div *ngIf="formControls.LastName.required">Last name is required</div>
                          </div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="transactionDescription"
                    placeholder="Transaction Description" formControlName="transactionDescription">
                    <div *ngIf="isSubmitted && formControls.transactionDescription.errors" class="help-block error">
                        <div *ngIf="formControls.transactionDescription.errors.required">Transaction Description is required</div>
                        <div *ngIf="formControls.transactionDescription.errors.minlength">Transaction Description should be minimum 4 chars</div>
                    </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="number" class="form-control"
                        id="amount" placeholder="Amount" formControlName="amount">
                        <div *ngIf="isSubmitted && formControls.amount.errors" class="help-block error">
                            <div *ngIf="formControls.amount.errors.required">Amount is required</div>
                        </div>
                </div>
                <div class="col-sm-6">
                    <select name="categoryType"  class="form-control" formControlName="categoryType">
                        <option value="">Category</option>
                        <option value="1">Income</option>
                        <option value="2">Medical Expenses</option>
                    </select>
                    <div *ngIf="isSubmitted && formControls.categoryType.errors" class="help-block error">
                        <div *ngIf="formControls.categoryType.errors.required">Amount is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <select name="paymentType" formControlName="paymentType" class="form-control">
                    <option value="">Payment Type</option>
                    <option value="debit">Making a Payment</option>
                    <option value="credit">Receiving a Payment</option>
                </select>
                <div *ngIf="isSubmitted && formControls.paymentType.errors" class="help-block error">
                    <div *ngIf="formControls.paymentType.errors.required">Amount is required</div>
                </div>
            </div>
            <input type="submit"class="btn btn-primary btn-block"  value="Submit" />
            <hr>
        </form>
    </div>
</div>